<h1 mat-dialog-title>Add New Questions</h1>
<div mat-dialog-content>
    <form [formGroup]="form" novalidate>

        <mat-form-field [attr.aria-label]="'Nombre Unite'">
            <input name="nombreUnite" matInput type="text" formControlName="nombreUnite">
        </mat-form-field>
        <div class="horizontal-group">
            <mat-checkbox formControlName="isMatin">
                Matin
            </mat-checkbox>
            <mat-checkbox formControlName="isMidi">
                Midi
            </mat-checkbox>
            <mat-checkbox formControlName="isSoir">
                Soir
            </mat-checkbox>
            <mat-checkbox formControlName="isActive">
                Active
            </mat-checkbox>
        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button type="button" mat-raised-button mat-dialog-close [attr.aria-label]="'Cancel add questions'">Cancel</button>
    <button type="button" mat-raised-button (click)="returnPosologie()" [attr.aria-label]="'Save new questions'"
        [disabled]="form.invalid">Save</button>
</div>