<h1>Medical.</h1>

<div id="affichage">
    <div id="users-area">
        <p>Utilisateur(s) du compte</p>
        <div class="profile">
            <div class="profile-picture"></div>
            <span>Monique DUBOIS</span>
        </div>
    </div>
    
    <div id="others-area">
        <p>Assistant(s)</p>
        <div class="profile">
            <div class="profile-picture"></div>
            <span>Marc DUBOIS</span>
        </div>
    </div>
</div>

<div id="button-container">
    <button routerLink="/users/create">Ajouter un utilisateur</button>
</div>
