<div class="container">
    <form class="form" [formGroup]="medicForm" (ngSubmit)="ajouter()">
        <div class="nom">
            <mat-form-field [attr.aria-label]="'Nom'">
                <input name="nom" matInput type="text" formControlName="nom" placeholder="Nom">
            </mat-form-field>
        </div>
        <div class="duree">
            <button type="button" (click)="openDureeFormDialog()">duree</button>
        </div>
        <div class="frequence">
            <button type="button" (click)="openFrequenceFormDialog()">frequence</button>
            <div *ngIf="frequenceData[0]">
                <div *ngFor='let freq of data'>
                    {{freq.choixFrequence}}
                </div>
            </div>
        </div>
        <div>
            <button>Ajouter</button>
        </div>
    </form>
</div>


<!-- <h1 mat-dialog-title>Ajouter un médicament</h1>
<div>
    <form [formGroup]="form" novalidate>

        <mat-form-field [attr.aria-label]="'Nom'">
            <input name="nom" matInput type="text" formControlName="nom" placeholder="Nom du médicament" ngModel required>
        </mat-form-field>

        <div class="" *ngIf="isPosologieNull(); else posologieIsNull">
            <div class="posologieEmpty">
                <button type="button" (click)="openMedicFormDialog()">ajouter Posologie</button>
            </div>
        </div>
        <ng-template #posologieIsNull>
            <div class="posologieNotEmpty">
                <p>{{posologie.nombreUnite}}</p>
                <p>du {{posologie.dateDebut}} au {{posologie.dateFin}} </p>
                <p *ngIf="posologie.isMatin">Matin</p>
                <p *ngIf="posologie.isMidi">Midi</p>
                <p *ngIf="posologie.isSoir">Soir</p>

                <button type="button" (click)="openMedicFormDialog()">Mettre à jour la Posologie</button>
            </div>
        </ng-template>
    </form>
</div> -->