<section>
    <h3>Se connecter</h3>
    <form [formGroup]="compteForm" (ngSubmit)="onSubmit()">
        <section>
            <label>Email</label>
            <input type="text" placeholder="Saisir une adresse email" formControlName="email">
        </section>
        <section>
            <label>Mot de passe</label>
            <input type="password" placeholder="Saisir un mot de passe" formControlName="motDePasse">
        </section>
        <section>
            <a routerLink="/mdp_oublie">Mot de passe oublié ?</a>
        </section>
        <section>
            <button type="submit">Se connecter</button>
        </section>
    </form>
</section>