<section class="col-md-4 primary text-center">
    <section class="card">
        <!-- titre -->
        <h4 class="card-header"></h4>
        <section class="card-body">
            <form>
                <!-- inputs -->
                <label for="">
                    <input type="text">
                </label>
                <!-- boutons -->
                <a routerLink="" class="btn btn-primary"></a>
                <a routerLink="" class="btn btn-primary"></a>
            </form>
        </section>
    </section>
</section>
