<div class="container">
    <div class="prescr" *ngFor="let prescr of prescriptions">
        <p>ID : {{prescr.id}}</p>
        <p>Debut : {{prescr.dateDebut | date:'dd/MM/yyyy'}}</p>
        <p>Fin : {{prescr.dateFin | date:'dd/MM/yyyy'}}</p>
        <div id="button-container">
            <button routerLink="/prescriptions/detail/{{prescr.id}}">Voir details</button>
        </div>
    </div>
    <div id="button-container">
        <button type="button" routerLink="/home">Retour</button>
    </div>
</div>

