<h1 mat-dialog-title>Add New Questions</h1>
<div mat-dialog-content>
    <form [formGroup]="form" novalidate>

        <mat-form-field [attr.aria-label]="'date debut'">
            <input name="dateDebut" matInput type="date" readonly formControlName="dateDebut">
        </mat-form-field>
        <mat-form-field [attr.aria-label]="'date fin'">
            <input name="dateFin" matInput type="date" readonly formControlName="dateFin">
        </mat-form-field>

        <div formArrayName="medics" *ngFor="let medic of medics.controls; let i = index">
            <button type="button" (click)="openMedicFormDialog()">ajouter medic</button>

        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button type="button" mat-raised-button color="primary" (click)="addMore()" cdkFocusInitial
        [attr.aria-label]="'Add more questions'">Add more</button>
    <button type="button" mat-raised-button mat-dialog-close [attr.aria-label]="'Cancel add questions'">Cancel</button>
    <button type="button" mat-raised-button (click)="returnMedics()" [attr.aria-label]="'Save new questions'"
        [disabled]="form.invalid">Save</button>
</div>
